// ==========================
// Couleurs
// ==========================

$white-soft: #f1f8fc; // fond clair

$blue-main: #0074c7; // bleu principal
$blue-dark: #00497c; // bleu foncé

$gray-dark: #384050; // gris foncé

$red-error: #cd2c2e; // rouge (erreur)
$green-success: #82b864; // vert (succès)
